<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@Html.Partial("_Root.Head")
<body style="background-color:#21282E; background-image: url('@Url.Content("~/Content/tradalysyTheme/images/templatemo_body1.jpg")'); background-position:top; background-repeat:repeat-x;">
    <div id="templatemo_header_wrapper">
        <div id="wrrap">
            @Html.Partial("_Header")
            @RenderSection("featured", required: false)
            @RenderBody()
            @Html.Partial("_Root.Footer")
            <!-- end of header_wrapper -->
        </div>
    </div>
</body>
</html>
