@using ShareMarket.Web.Areas.Admin.Models

@helper SetPageHeader(string pageTitle, List<BreadcrumbModel> model)
{
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->			
    <h3 class="page-title">@pageTitle
    </h3>
    <ul class="breadcrumb">
        @for (int i = 0; i < model.Count; i++)
        {
            if (i == 0)
            {
            @CreateUrl(model[i], true, false)
            }
            else if (i == model.Count)
            {
            @CreateUrl(model[i], false, false)
            }
            else
            {
            @CreateUrl(model[i], false, true)
            }
        }

    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->
}

@helper CreateUrl(BreadcrumbModel model, bool isFirst, bool isLast)
{
    <li>
        @if (isFirst)
        {
            <i class="icon-home"></i>
        }
        <a href="@model.Url">@model.Name</a>
        @if (!isLast)
        {
            <i class="icon-angle-right"></i>
        }
    </li>
}

@helper AddButton(string url)
{
    <div class="clearfix">
      @*  <div class="btn-group">
            <button id="sample_editable_1_new" class="btn green">
              <a href="@url"> Add New <i class="icon-plus"></i> </a>
            </button>
        </div>*@
        <div class="btn-group pull-right">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Action <i class="icon-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="@url">Add New</a></li>
               @* <li><a href="#">Save as PDF</a></li>
                <li><a href="#">Export to Excel</a></li>*@
            </ul>
        </div>
    </div>
}