<!DOCTYPE html>
<html lang="en">
<head>
    <title>Share Market - @ViewBag.Title</title>
    @Styles.Render("~/Content/assets/css")
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/Content/assets/js")

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: true)
            
    }
</head>
<body class="fixed-top">
    <div id="headerPart">
        @Html.Partial("_Header")
       
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        @Html.Partial("_Sidebar")

        <!-- BEGIN PAGE -->
        <div class="page-content">
            <div id="dialogforMyProfile"></div>
            @RenderBody()
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    @Html.Partial("_Footer")

     
    
    <script type="text/javascript">
        $(function () {
            // TODO  Set Arrow design 
            $('.page-sidebar').find('li.active').find('.title').after("<span class='selected'></span>");
            $("li.active").parents().parent("li").addClass("active open");
            $("li.active").parents().parent("li.li-expandable").click();
            $("li.active").parents().parent("li").find("span.arrow").addClass("open");
            $('li.active').find('.title').after("<span class='selected'></span>");

            $.each($(".collapse").find(".li-expandable").parents("li"), function (index, ele) {
                if ($(this).find("li").length <= 0) {
                    $(this).hide();
                }

            });

            App.init(); // initlayout and core plugins  
        });
</script>
</body>
</html>
