<!DOCTYPE html>
<html lang="en">
<head>
    <title>Share Market - @ViewBag.Title</title>
    @Styles.Render("~/Content/assets/css")
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/plugins/select2/select2_metro.css" />

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/Content/assets/js")
      <script type="text/javascript" src="~/Areas/Admin/Content/assets/plugins/select2/select2.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/plugins/data-tables/jquery.dataTables.js"></script>
      <script type="text/javascript" src="~/Areas/Admin/Content/assets/plugins/data-tables/DT_bootstrap.js"></script>
      <script src="~/Areas/Admin/Content/assets/scripts/table-managed.js"></script>     
  
</head>
<body class="fixed-top">
    <div id="headerPart">
        @Html.Partial("_Header")
       
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        @Html.Partial("_Sidebar")

        <!-- BEGIN PAGE -->
        <div class="page-content">
            <div id="dialogforMyProfile"></div>
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                @RenderBody()
            </div>
            </div>

        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    @Html.Partial("_Footer")

        <script type="text/javascript">
          $(function () {

           
              // TODO  Set Arrow design 
              $('.page-sidebar').find('li.active').find('.title').after("<span class='selected'></span>");
              $("li.active").parents().parent("li").addClass("active open");
              $("li.active").parents().parent("li.li-expandable").click();
              $("li.active").parents().parent("li").find("span.arrow").addClass("open");
              $('li.active').find('.title').after("<span class='selected'></span>");

              $.each($(".collapse").find(".li-expandable").parents("li"), function (index, ele) {
                  if ($(this).find("li").length <= 0) {
                      $(this).hide();
                  }

              });
              App.init(); // initlayout and core plugins 
          });
</script>
  
</body>
</html>
